<div class="container">
    <div class="jumbotron">
        <h3>Queremos ouvir o que vc tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <i class="bi bi-envelope-at"></i>
            <h5><email endereco="annatest@email.com" conteudo="Enviar um e-mail"></email></h5>
            <i class="bi bi-telephone"></i>
            <h5>(11) 9874-5566</h5>
            <br />
            <i class="bi bi-house-door"></i>
            <h5>Av. Jucelino Kubicheck 1000 - 28890-077 - Rio de Janeiro</h5>
        </p>
    </div>
</div>
