<title>
    @ViewData["Title"] - Gráfico de Vendas
</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>


    <script type="text/javascript">
        google.charts.load('current', { 'packages' :  ['bar', 'corechart'] });      
        google.charts.setOnLoadCallback(CarregaDados);
        function CarregaDados() {
            $.ajax({
                url: '@Url.Action("VendasLanches", "AdminGrafico")',
                data: {dias: 30},
                dataType: "json",
                error: function(xhr, status, err) {
                    var err = eval("(" + xhr.responseText + ")");
                    console.log(err.message);
                },
                success: function(data) {
                    GraficoVendasLanches(data)
                    return false;
                }
            });
        }
        function GraficoVendasLanches(data) {
            var dataArray = [
                ['Lanche', 'Quantidade', 'Valores(R$)']
            ];
            $.each(data, function(i, item) {
                dataArray.push([item.produtoNome, item.produtoQuantidade, item.produtosValorTotal]);
            });
            var data = google.visualization.arrayToDataTable(dataArray);
            var options = {
                title: "Produtos - Vendas nos últimos 30 dias",
                animation: {
                    duration: 3000,
                    easing: 'out',
                    startup: true
                },
                charArea: {
                    width: '70%'
                },
                colors: ['#5202b5', '#d2a828'],
                hAxis: {
                    title: 'Valor Total (em Reais)',
                    minValue: 0
                },
                vAxis: {
                    title: 'Produtos'
                }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            return false;
        }
    </script>

